@import url("https://font.elice.io/css?family=Elice+Digital+Baeum");
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

.job_div {
    width: 500px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 20px;
}

@media only screen and (max-width: 500px) {
    .job_div {
        width: 100%;
        margin: 0 auto;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

.hiddenDiv {
    display: none;
}

div.left {
    width: 50%;
    float: left;
}

div.right {
    width: 50%;
    float: right;
}

#stats {
    display: flex;

    flex-wrap: wrap;
    justify-content: space-between;

    contain: style layout inline-size;
}

div.stat1 {
    display: flex;
    width: 15%;
    flex-direction: column;
}

div.stat2 {
    display: flex;
    width: 20%;
    flex-direction: column;
}

div.stat3 {
    display: flex;
    width: 1%;
    background-color: lightgray;
    border-radius: 15% 15% / 15% 15%;
}

div.stat4 {
    display: flex;
    width: 25%;
    flex-direction: column;
}

div.stat5 {
    display: flex;
    width: 25%;
    flex-direction: column;
}

select {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

button {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

input {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

/* div.stat5 {
    display: flex;
} */


.HitProbElement {
    /* text-align: right; */
    line-height: 30%;
    /* color: blue; */
}

table {
    border-collapse: collapse;
    margin: 5px auto;
}

td, th {
    border: 2px solid #dddddd;
    text-align: center; /* 가운데 정렬을 위한 속성 */
    vertical-align: middle; /* 수직 가운데 정렬을 위한 속성 */
    padding: 2px;
}

fieldset {
    width: 500px; /* 필요에 따라 크기를 조절할 수 있습니다. */
    margin: auto;
}

body {
    width: 520px;
    margin: auto;
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

@media only screen and (max-width: 520px) {
    fieldset {
        width: 90%;
        font-size: 3.6vw;
    }

    input {
        width: 50%;
        font-size: 2.5vw;
        height:fit-content;
        
    }

    select {
        font-size: 2.5vw;
    }

    body {
        width: 100%;
        margin: auto;
    }
}

#monsterStatsTable td {
    width: 60px;
}

@media only screen {
    body {
        overflow-x: auto;
    }
}